<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shui.enjoyfinancial">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".feature.login.LoginActivity">

        </activity>
        <activity android:name=".feature.mian.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name=".feature.splash.SplashActivity" />
        <activity android:name=".feature.product.ProductActivity">

        </activity>
        <activity android:name=".feature.mine.SettingActivity" />
        <activity android:name=".feature.mine.PersonDataActivity" />
        <activity android:name=".feature.mine.SafeCenterActivity" />
        <activity android:name=".feature.mine.AboutMeActivity" />
        <activity android:name=".feature.mine.LocationManagerActivity" />
        <activity android:name=".feature.mine.PhoneVerifyActivity" />
        <activity android:name=".feature.mine.IdentityVerifyActivity" />
        <activity android:name=".feature.mine.PayPwdActivity" />
        <activity android:name=".feature.mine.AddAddressActivity" />
        <activity android:name=".feature.mine.OrderActivity" />
        <activity android:name=".feature.mine.SubmitOrderActivity" />
        <activity android:name=".feature.mine.PayOrderActivity" />
        <activity android:name=".feature.mine.OrderDetailActivity" />
    </application>

</manifest>